<div class="card">
  <h3 class="card-header">Employee</h3>
  <div class="card-block">
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)">
      <div class="form-group row">
        <label for="employeeId" class="col-2 col-form-label">Employee ID</label>
        <div class="col-10"><input type="text" id="employeeId" placeholder="id" name="employeeId" [(ngModel)]="employee.id"></div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-2 col-form-label">Employee First Name</label>
        <div class="col-10"><input type="text" id="firstName" placeholder="John" name="firstName" [(ngModel)]="employee.firstName"></div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-2 col-form-label">Employee Last Name</label>
        <div class="col-10"><input type="text" id="lastName" placeholder="Doe" name="lastName" [(ngModel)]="employee.lastName"></div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Title</label>
        <div class="col-10"><input type="text" id="title" placeholder="Manager" name="title" [(ngModel)]="employee.title"></div>
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="save()"><fa name="database"></fa>Save</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="goBack()"><fa name="chevron-left"></fa>Cancel</button>
    </form>
  </div>
</div>
